# .gitignore
credentials.json
twitch_tokens.json
pyproject.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.env
*.ini

# Logs
*.log
*.log.1
*.db
bot.log.*
*.db-journal

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# GitHub Actions
.github/workflows/python-app.yml

# MacOS
.DS_Store
