# requirements.txt

twitchio
openai
python-dotenv
aiohttp
rapidfuzz
backoff
aiosqlite
logdna
black
pandas 
openpyxl 
playwright
fuzzywuzzy 
python-Levenshtein
google-auth
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
unidecode
psutil
flake8